@import url("./header.css");
@import url("./quemSouEu.css");
@import url("./oQueFaco.css");
@import url("./oQueJaFiz.css");
@import url("./contato.css");

/* ==== PREDEFINIÇÕES ==== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all .3s ease;

    transform-style: preserve-3d;
    perspective: 2000px;
}
/* Variáveis */
:root {
    --preto: #000;
    --branco: #fff;
    --cinza-claro: #ccc;
    --cinza-escuro: #333;
    --paragrafo: 1.24vw;
    --titulo: 2vw;
    --espaco-minusculo: .5vw;
    --espaco-pequeno: 1vw;
    --espaco-grande: 2vw;
}
/* Cor de fundo da seleção */
::selection {
    background-color: var(--cinza-escuro);
    color: var(--cinza-claro);
}
/* Barra de rolagem */
::-webkit-scrollbar {
    width: .6vw; /* Largura da barra de rolagem */
}
::-webkit-scrollbar-track {
    background: rgba(0,0,0,0); /* Cor de fundo da faixa */
}
::-webkit-scrollbar-thumb {
    background: var(--cinza-escuro); /* Cor de fundo do ponteiro */
    border-radius: 16px; /* Raio das bordas do ponteiro */
}
body {
    overflow-x: hidden;
    animation: overflow forwards 9s;
}
/*@keyframes overflow {
    0% {
        overflow-y: hidden;
    }
    100% {
        overflow-y: visible;
    }
}*/
main {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*position: relative;*/
}
/* CARREGAMENTO INICIAL */
.loadContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--preto);
    z-index: 10;
    animation: loadDown 1s forwards;
    animation-delay: 2s;

    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes loadDown {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        display: none!important;
        transform: translateY(100%);
        opacity: 1;
    }
    100% {
        z-index: -5;
        opacity: 0;
        transform: translateY(100%);
    }
}
.loadContainer h2 {
    text-align: center;
    width: 20%;
    color: var(--cinza-claro);
    position: relative;
    padding: 0 0 2rem 0;
}
.loadContainer h2::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--cinza-claro);
    animation: loadBar 1.5s forwards linear;
    animation-delay: .3s;
}
@keyframes loadBar {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

section {
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
svg * {
    fill: var(--cinza-escuro);
}

/* RESPONSIVO */
@media screen and (max-width: 780px) {
    section {
        justify-content: center;
    }
    :root {
        --paragrafo: 3.4vw;
        --titulo: 6vw;
        --espaco-minusculo: 1.1vw;
        --espaco-pequeno: 3vw;
        --espaco-grande: 5vw;
    }
}