* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style: none;
    text-decoration: none;
    color: #222;
}
a:hover {
    text-decoration: underline;
    text-decoration-color: #777;
}
body {
    overflow-x: hidden;
    animation: body 8s forwards;
}
@keyframes body {
    0% {
        overflow-y: hidden;
    }
    100% {
        overflow-y: scroll;
    }
}
section {
    height: 100vh;
}
button {
    border: none;
    background: transparent;
}

.loading-bar {
    width: 150px;
    height: 2px;
    background-color: #333;
    position: relative;
}

.loading-bar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    background-color: #fff;
    animation: bar .9s linear forwards;
}

@keyframes bar {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

.loadpage h2 {
    color: #fff;
}

.loadpage {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 1;
    animation: sumir 1.3s ease-in forwards;
    animation-delay: 1s;
}

@keyframes sumir {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100%);
        opacity: 0;
        display: none;
    }
}

/* ==== HEADER ==== */

header {
    position: fixed;
    top: 24px;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;

    transform: translateY(-200%);

    animation: animationTeste 1s ease-out forwards;
    animation-delay: 1.3s;
    z-index: 9;
}

h1#logo {
    color: #000;
    font-size: 30px;
    margin-left: 30px;
}

nav#menu {
    background-color: #86868688;
    backdrop-filter: blur(3px);
    width: 88%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    padding: 10px 20px;
}

ul.links li, ul.social li {
    margin: 0 10px;
    font-weight: 300;
    font-size: 20px;
}
ul.links, ul.social {
    display: flex;
}
ul.social li a img {
    width: 28px;
}

ul.social {
    margin-right: 30px;
}


/* ==== SOBRE MIM ==== */

section#sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12rem;
    padding-top: 90px;
}

div#eu img {
    width: 25rem;
    height: 25rem;
    object-fit: cover;
    border-radius: 50%;


    transform: translateX(-100%);
    animation: animationLeft 1.3s ease-out forwards;
    opacity: 0;
    animation-delay: 1.3s;
}

@keyframes animationLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    50% {
        transform: translateX(-50%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

#testando {
    opacity: 0;
    transform: translateX(100%);
    animation: animationRight 1.3s ease-out forwards;
    animation-delay: 1.3s;
}

@keyframes animationRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    50% {
        transform: translateX(50%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

ul.icon-text {
    display: flex;
}

ul.icon-text li ul li img {
    width: 28px;
    height: 28px;
}

li.textos ul li {
    margin: 10.5px 0;
}
a.projetos-button {
    padding: 8px 22px;
    background-color: #000;
    border-radius: 50px;
    color: #fff;
}

/* ==== MAIS SOBRE ==== */
section#maisSobre {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    height: 50vh;
}
section#maisSobre h2 {
    color: #fff;
    padding: 20px;
}

@keyframes animationTeste {
    0% {
        transform: translateY(-200%);
        opacity: 0;
    }
    50% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}